# Written to /etc/polymarket/polymarket.env on the VM
APP_DIR="{{APP_DIR}}"
REPO_URL="{{REPO_URL}}"
REPO_BRANCH="{{REPO_BRANCH}}"
ENTRYPOINT="{{ENTRYPOINT}}"
REQUIREMENTS_FILE="{{REQUIREMENTS_FILE}}"
BUCKET="{{BUCKET}}"
LOCAL_RETENTION_DAYS="{{LOCAL_RETENTION_DAYS}}"
DATA_DISK_NAME="{{DATA_DISK_NAME}}"
PARQUET_ROOT="/var/data/polymarket"
ROTATE_MB="512"
